*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}


.btn{
  padding: 6px 14px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;


  &:hover{
    background-color: white;
    color: cadetblue;
  }
}


a.active{
  background-color: white;
  color: cadetblue;
}

  .light{
        background-color: white;
    }

    .dark{
  background-color: rgba(95, 158, 160, 0.413);
}



